<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<style>
    .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<body>
    <div class="header">
        About Us
        <nav>
            <a href="/">Back to Upload</a>
        </nav>
    </div>
    <div style="text-align: left; margin: 40px">
        <body>
            <h1>About MetaScan</h1>
            <p>MetaScan is a powerful data extraction tool designed to streamline the process of extracting information from documents and converting it into structured formats like JSON and CSV.</p>
            <p>By leveraging advanced OCR (Optical Character Recognition) technology, MetaScan accurately identifies and extracts text, tables, and other relevant data elements from various document types, including PDFs, images, and scanned documents.</p>
            <h2>Here is an example of a ub-04 form that you can process with our software</h2>
            <img src="https://www.pdffiller.com/preview/100/124/100124018/large.png" alt="ub-04 form">
            <h2>Key Features:</h2>
            <ul>
              <li>Accurate OCR</li>
              <li>Flexible Data Formats</li>
              <li>Customizable Extraction</li>
              <li>Batch Processing</li>
              <li>Integration Capabilities</li>
            </ul>
          
            <h2>Use Cases:</h2>
            <ul>
              <li>Document Digitization</li>
              <li>Data Extraction</li>
              <li>Data Migration</li>
              <li>Research and Analysis</li>
            </ul>
          
            <h2>With MetaScan, you can:</h2>
            <ul>
              <li>Save time and effort</li>
              <li>Improve accuracy</li>
              <li>Enhance productivity</li>
              <li>Unlock valuable insights</li>
            </ul>
          
            <h3>MetaScan is the ideal solution for businesses and individuals who need to efficiently extract data from documents and leverage it for various purposes.</h3>
    </div>
  </body>
</html>