<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<style>
    .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<body>
    <div class="header">
        Metascan Tutorial
        <nav>
            <a href="/">Back to Upload</a>
        </nav>
    </div>
    <div style="text-align: left; margin: 40px">
        <h2>How to use Metascan</h2>
        <p>Here is the Metascan Home page. 
            This is your main dashboard where you can access all of MetaScan's state of the art features.
        </p>
        <img src="../static/img/1.png" style="width: 60%;" >
        <p>Lets take a deep dive into all that you can do with MetaScan software</p>
        <h2>Navigation Bar</h2>
        <img src="../static/img/nav.png" style="width: 60%;" >
        <p>Here you will various pages that can assist you:</p>
        <h3>1. Home</h3>
        <p>This page takes you to the home page where you can upload documents. This is the page that you start on.</p>
        <h3>2. About</h3>
        <p>Learn about Metascan and what it can do for you and your business</p>
        <h3>3. Help</h3>
        <p>A tutorial for how to use the software and all of its features</p>
        <h3>4. Leave Feedback</h3>
        <p>You can leave suggestions for the developers here</p>


        <h2>Field Selection</h2>
        <img src="../static/img/choose your fields.png" style="width: 60%;" >
        <p>Loreum ipsum...</p>
        
        <h2>Navigation Bar</h2>
        <img src="../static/img/upload.png" style="width: 60%;" >
        <p>Loreum ipsum...</p>
        <h3>MetaScan is the ideal solution for businesses and individuals who need to efficiently extract data from documents and leverage it for various purposes.</h3>
    </div>
  </body>
</html>