<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta-Scan</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="header">
        Meta-Scan
        <nav>
            <a href="#">Home</a> |
            <a href="/about">About</a> |
            <a href="/feedback">Leave Feedback</a>
        </nav>
    </div>
    
    <div class="container">
        <!-- Choose the Fields -->
        <h1> Choose your Fields </h1>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="checkbox-container">
                <label><input type="checkbox" name="checkbox" value="patient"> Patient Info</label>
                <label><input type="checkbox" name="checkbox" value="admit_discharge"> Admit Discharge Info</label>
                <label><input type="checkbox" name="checkbox" value="insurance"> Insurance Info</label>
                <label><input type="checkbox" name="checkbox" value="provider"> Provider Info</label>
                <label><input type="checkbox" name="checkbox" value="occurance"> Occurance Info</label>
                <label><input type="checkbox" name="checkbox" value="value"> Value Codes</label>
                <label><input type="checkbox" name="checkbox" value="payer"> Payer Info</label>
            </div>
            <!-- Upload Image Section -->
            <h1>Upload Image</h1>
            <!-- Removed form element to allow AJAX handling -->
            <button id="uploadButton" data-tooltip="Upload a document">Upload</button>
            <input type="file" id="fileInput" name="file" accept="image/*" style="display: none;" required>
        </form>
        <!-- View Documents button -->
        <button id="viewDocuments" data-tooltip="View documents">View Documents</button>
    </div>
    
    <!-- Loader element -->
    <div id="loader" class="loader" style="display: none;"></div>
    
    <div class="image-container">
        <h3>Example Document</h3>
        <img src="{{ url_for('static', filename='ub04-online.jpg') }}" alt="Example Document" class="example-image">
    </div>
    
    <!-- JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
